pkgbase = br-bin
	pkgdesc = Agent-first issue tracker (SQLite + JSONL)
	pkgver = 0.7.3
	pkgrel = 1
	url = https://github.com/Dicklesworthstone/beads_rust
	arch = x86_64
	arch = aarch64
	license = LicenseRef-MIT-OpenAI-Anthropic-Rider
	depends = gcc-libs
	provides = br
	conflicts = br
	conflicts = br-git
	options = !strip
	options = !debug
	source_x86_64 = br-bin-0.7.3-x86_64.tar.gz::https://github.com/Dicklesworthstone/beads_rust/releases/download/v0.7.3/br-0.7.3-linux_amd64.tar.gz
	sha256sums_x86_64 = 4fcb20b8352eb85359b0f9ff7ec31f6c057ecf8e26184252c36ab1e447eef986
	source_aarch64 = br-bin-0.7.3-aarch64.tar.gz::https://github.com/Dicklesworthstone/beads_rust/releases/download/v0.7.3/br-0.7.3-linux_arm64.tar.gz
	sha256sums_aarch64 = 025d61e8d05426ed37d3b1045f893a92a587c6ba90ce24989232b4c0a38fcb8c

pkgname = br-bin
