pkgbase = br-bin
	pkgdesc = Agent-first issue tracker (SQLite + JSONL)
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/Dicklesworthstone/beads_rust
	arch = x86_64
	arch = aarch64
	license = LicenseRef-MIT-OpenAI-Anthropic-Rider
	depends = gcc-libs
	provides = br
	conflicts = br
	conflicts = br-git
	options = !strip
	options = !debug
	source_x86_64 = br-bin-0.6.0-x86_64.tar.gz::https://github.com/Dicklesworthstone/beads_rust/releases/download/v0.6.0/br-0.6.0-linux_amd64.tar.gz
	sha256sums_x86_64 = f6f9a1663bae31e94d2dcfec62163f15b17f822711c486e860183a654784829b
	source_aarch64 = br-bin-0.6.0-aarch64.tar.gz::https://github.com/Dicklesworthstone/beads_rust/releases/download/v0.6.0/br-0.6.0-linux_arm64.tar.gz
	sha256sums_aarch64 = dd865e02f05a5efa84aca25e70c4f054b358cb71e42580af97cf41fda52b46f5

pkgname = br-bin
